<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="tehtava4.2.2.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top ice">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item marginimg">
                    <a class="navbar-brand" href="~/Palvelukoirat/Index">
                        <img src="~/Images/logo_wg3.jpg" alt="Logo" style="width:40px;" />
                    </a>
                </li>
                <li class="nav-item marginxl">
                    <a class="nav-link" href="~/Palvelukoirat/Index">Etusivu</a>
                </li>
                <li class="nav-item dropdown margin">
                    <a class="nav-link dropdown-toggle" href="~/Palvelukoirat/Yhteystiedot" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Yhteystiedot
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Palvelukoirat/Yhteystiedot">Yhteystiedot</a>
                        <a class="dropdown-item" href="~/Palvelukoirat/Yhteystiedot#hallitus">Hallitus</a>
                        <a class="dropdown-item" href="~/Palvelukoirat/Säännöt">Säännöt</a>
                        <a class="dropdown-item" href="~/Palvelukoirat/Lehti">Lehti</a>
                        <a class="dropdown-item" href="~/Palvelukoirat/Jäseneksi">Jäseneksi</a>
                    </div>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="index2.html">Kenttä ja Ohjeet</a>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="#">Tulokset</a>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="tehtävä4.1.2.html">Kalenteri</a>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="tehtävä4.1.2.html">Peko</a>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="tehtävä4.1.2.html">Kuvat</a>
                </li>
                <li class="nav-item margin">
                    <a class="nav-link" href="tehtävä4.1.2.html">Linkit</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer class="text-center" style="margin:0px;">
        <div>
            
                © Porvoon Palveluskoirat - Borgå Brukshundar ry | Yhteystiedot | Päivitykset <a href="https://www.w3schools.com/bootstrap/bootstrap_theme_band.asp" data-toggle="tooltip" title="Visit w3schools"></a>
         
            </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
